{% extends 'base.html' %}
{% block body %}
  <div class="container form-div">
  <h1 class="text-center"> ADD TDOD</h1>
  
<form action="/add" method="post"   enctype = "multipart/form-data">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Title</span>
  </div>
  <input type="text" name="ititle" class="form-control" placeholder="Title todo" aria-label="Username" aria-describedby="basic-addon1" required>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Image</span>
  </div>
  <input type="file" name="iimg" class="form-control" placeholder="Title todo" aria-label="Username" aria-describedby="basic-addon1" required>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Description</span>
  </div>
  <textarea name="idis" class="form-control" aria-label="With textarea" required></textarea>
</div>
    <input type="submit" class="btn btn-success text-center rounded">

</form>

</div>


{% endblock %}